@page "/LoginUi"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.Abp.LoginUi.Localization
@inject IStringLocalizer<LoginUiResource> L
@{
}
<h1>LoginUi</h1>
<p>@L["SamplePageMessage"]</p>